models/ietf-netconf-acm-gdefs-config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:nacm="urn:ietf:params:xml:ns:yang:ietf-netconf-acm" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><define name="ietf-netconf-acm__node-instance-identifier"><ref name="ietf-yang-types__xpath1.0"/></define><define name="ietf-netconf-acm__access-operations-type"><list><zeroOrMore><choice><value>create</value><value>read</value><value>update</value><value>delete</value><value>exec</value></choice></zeroOrMore></list></define><define name="ietf-netconf-acm__matchall-string-type"><data type="string"><param name="pattern">\*</param></data></define><define name="ietf-yang-types__xpath1.0"><data type="string"/></define><define name="ietf-netconf-acm__user-name-type"><data type="string"><param name="minLength">1</param></data></define><define name="ietf-netconf-acm__group-name-type"><data type="string"><param name="pattern">[^\*].*</param><param name="minLength">1</param></data></define><define name="ietf-yang-types__counter32"><data type="unsignedInt"/></define><define name="ietf-netconf-acm__action-type"><choice><value>permit</value><value>deny</value></choice></define><define name="ietf-yang-types__zero-based-counter32"><ref name="ietf-yang-types__counter32"/></define></grammar>
